<%- include("partials/header") %>
<h2 class="home">About</h2>

 <p className="para">
          My name is Piyush Gupta. I completed my B.Tech in Computer Science
          from KIET Group of Institutions in the 2020-2024 batch. During my time
          in college, I developed several projects using the MERN stack,
          showcasing my skills as a full-stack developer. I have a strong
          passion for problem-solving, particularly in Data Structures and
          Algorithms (DSA) using Java.
          <br />
          <br />I actively participated in numerous hackathons, including the
          <b>Smart India Hackathon</b>, where I represented my team at the
          Kartarpur location, as well as international hackathons. Additionally,
          I interned at my college, where I taught juniors about Data Structures
          and Algorithms.
          <br />
          <br /> After that, I completed another internship at AKS IT Services
          as a <b>software developer</b>, where I worked on both backend and
          frontend development.
          <br />
          <br />
          <h5c>Piyush Gupta</h5>
          <h5>8174075872</h5>
          <h5>piyushguptaji123@gmail</h5>
        </p>
<%- include("partials/footer") %>
